$side-bar-open: 300px;
$side-bar-close: 100px;
$side-bar-transition: 500ms;
$nav-bar-height: 60px;

// #12208E 
// #409EFF

$b-clr-green: #2CA67A;
$b-clr-red: #F46A6A;
$b-clr-blue: #556EE6;
$b-clr-gray: #636678;
$b-clr-black: #2C3136;
// $b-clr-indigo: #6610F2;
$b-clr-indigo: #12208E;
$b-clr-dark-black: #2c2c2c;
$b-clr-light: #F8F9FA;
$b-clr-dark-light: #F2F2F2;
$b-clr-white: #fff;
$b-clr-light-indigo: #409EFF;
// $b-clr-light-indigo: #C29FFA;